.home-index {
  .home-swiper {
    swiper {
      height: 340rpx;
      image {
        width: 100%;
      }
    }
  }
  .home-navigat {
    display: flex;
    navigator {
      flex: 1;
      padding: 20rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      image {
        width: 100%;
      }
    }
  }
  .home-floor {
    .floor-group {
      .floor-title {
        width: 100%;
        padding: 10rpx 10rpx;
        color: var(--themeColor);
        font-weight: bold;
      }
      .foolr-content {
        overflow: hidden;
        navigator {
          float: left;
          width: 33.33%;
          &:nth-child(-n + 5) {
            height: 33.33vw * 386/232/2;
            border-left: 10rpx solid #ffffff;
          }
          &:nth-child(1) {
            height: 386rpx;
          }
          &:nth-child(2),
          &:nth-child(3) {
            border-bottom: 10rpx solid #ffffff;
          }
          &:nth-child(3),
          &:nth-child(5) {
            border-right: 10rpx solid #ffffff;
          }
          image {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
